* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: #080624;
}

input {
    opacity: 0.9;
    padding-left: 20px;
    margin-top: 10px;
    height: 40px;
    width: 450px;
    border-radius: 16px;
    border: none;
    outline-color: #ff00ff;
  }

  h3{
    color:#fff;
  }

  .lineMid {
    display: flex;
    align-items: center;
    justify-content: center;
   
  }
  .line {
    height: 2px;
    width: 450px;
    background: #ff1493;
  }

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
}

.logo {
  padding-right: 30px;
  
}

.h1 {
  font-size: 50px;
  color: #fff;
}
.titleperf{
  text-transform: uppercase;
  font-family: 'Open Sans Pro', sans-serif;
  background: url(https://i.pinimg.com/originals/6c/fe/97/6cfe97d5859b379a2444a02a4e4e7998.gif);
  background-size: cover;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.perfil {
  margin-bottom: 30px;
  text-align: center;
  border-radius: 20px;
}
.titleperf{
  color: #fff;
}

.img {
  height: 90px;
  width: 90px;
  filter: saturate(2);
}

.container_register {
  margin-top: 0px;
  border-radius: 20px;
  padding: 40px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.register_area{
  align-items: center;
}

.cnpj_area,
.ie_area,
.password_area,
.confPasswword_area,
.socialReason_area,
.email_area{
  justify-content: center;
    align-items: center;
    margin-top: 30px;
}





