.containerForm{
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-right: 50px;
}
form h1 {
  color: #fff;
  text-align: center;
  font-weight: 600;
  margin-bottom: 2rem;
}
form span {
  color:#ff00ff;
}
form {
  width: 50%;
  margin-top: 3.2rem;
  background:#191970;
  box-shadow: 0 .5rem 1rem 0.5rem rgba(48, 51, 107,1.0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem 4rem;
  border-radius: 0.5rem;
}
form input {
  color: #192a56;
  font-weight: 600;
  font-size: 14px;
  border-radius: 0.5rem;
  border: #d1d8e0 2px solid;
  padding: 0.4rem;
  width: 25rem;
}
form select {
  color:#6ab04c;
  font-weight: 600;
  font-size: 16px;;
  border-radius: 0.5rem;
  border: #d1d8e0 2px solid;
  padding: 0.4rem;
  width: 25rem;
}
form select option {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: #131313;
}
h4 {
  font-size: 16px;
  color:#fff;
  margin-top: 10px;
}
.info {
  display: flex;
  margin-top: 5px;
}
.caixa {
  display: flex;
}
.minContainer {
  margin-left: 40px;
}
