
  .toggle-checkbox{
  height: 0px;
  width: 0px;
  opacity: 0;
}
.toggle{
 
  height: 26px;
  width: 40px;
  position: absolute;
  border-radius: 15px;
  background-color:#ff00ff;
  right: 50%;
  transition: all .3s;
}
.toggle-switch{
  border: solid 2px #ff00ff;
  position: relative;
  display: inline-block;
  border-radius: 30px;
  padding: 5px;
  width: 70px;
  height: 40px;
}
.toggled{
  right: 3px;
}

.toggle{
    right: 3px;
  }
    